@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

img {
    width: auto;
    height: 300px;
}

.images img {
    height: 200px;
}

ol img, ul image {
    padding-top: 30px;
}

li {
    padding: 5px;
}